# Dependencies
node_modules/

# Builds / Coverage
build/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS artifacts
.DS_Store
Thumbs.db

# Tooling caches
.eslintcache
*.cache


